In [1]:
### This notebook is for preliminary EDA and data collection.

In [ ]:
# libraries
# import pandas as pd
import shapefile #pyshpb
import geojson
from geojson import Feature, Point, FeatureCollection

## VIIRS Data

### Playing with Shapefiles

#### With GeoPandas

In [1]:
import geopandas

In [2]:
df = geopandas.read_file('../data/fire_archive_V1_94076.dbf')

In [6]:
df.head()

,LATITUDE,LONGITUDE,BRIGHT_TI4,SCAN,TRACK,ACQ_DATE,ACQ_TIME,SATELLITE,INSTRUMENT,CONFIDENCE,VERSION,BRIGHT_TI5,FRP,TYPE,geometry
0,39.44236,-78.59353,304.0,0.51,0.50,2019-01-01,0633,N,VIIRS,n,1,277.3,1.8,0,POINT (-78.59353 39.44236)
1,36.22957,-76.33179,297.7,0.54,0.42,2019-01-01,0634,N,VIIRS,n,1,280.7,0.3,0,POINT (-76.33179 36.22957)
2,35.16475,-78.01472,302.3,0.43,0.46,2019-01-01,0634,N,VIIRS,n,1,277.2,0.2,0,POINT (-78.01472 35.16475)
3,33.01357,-79.88728,327.1,0.51,0.50,2019-01-01,0635,N,VIIRS,n,1,284.9,2.8,2,POINT (-79.88728 33.01357)
4,32.46647,-81.36343,304.6,0.62,0.54,2019-01-01,0635,N,VIIRS,n,1,286.8,1.2,0,POINT (-81.36343 32.46647)

#### With PyShp

In [ ]:
# Resource: https://pypi.org/project/pyshp/

In [52]:
# Read the shapefile into Python
with shapefile.Reader("../data/fire_archive_V1_94076.dbf") as sf:
    print(sf)
    
    d = {}
    for rec in sf.records():
        d.update(rec.as_dict())
    
# A record in a shapefile contains the attributes for each shape in the collection of geometries. 
# Records are stored in the dbf file.

shapefile Reader
    371722 shapes (type 'POINT')
    371722 records (15 fields)

In [54]:
print(d)

{u'BRIGHT_TI4': 327.3, u'BRIGHT_TI5': 294.6, u'SCAN': 0.51, u'ACQ_DATE': datetime.date(2019, 9, 30), u'SATELLITE': u'N', u'LONGITUDE': -122.36732, u'VERSION': u'1', u'CONFIDENCE': u'n', u'TRACK': 0.41, u'INSTRUMENT': u'VIIRS', u'FRP': 2.7, u'LATITUDE': 47.57298, u'TYPE': 2, u'ACQ_TIME': u'2120'}

In [14]:
sf.bbox

[-169.98405, 19.38804, 179.58345, 70.40395]

In [47]:
# Each field is a Python list 
# with field name, type, length, decimal length

sf.fields

[('DeletionFlag', 'C', 1, 0),
 [u'LATITUDE', u'N', 32, 10],
 [u'LONGITUDE', u'N', 32, 10],
 [u'BRIGHT_TI4', u'N', 32, 10],
 [u'SCAN', u'N', 32, 10],
 [u'TRACK', u'N', 32, 10],
 [u'ACQ_DATE', u'D', 8, 0],
 [u'ACQ_TIME', u'C', 4, 0],
 [u'SATELLITE', u'C', 1, 0],
 [u'INSTRUMENT', u'C', 5, 0],
 [u'CONFIDENCE', u'C', 1, 0],
 [u'VERSION', u'C', 1, 0],
 [u'BRIGHT_TI5', u'N', 32, 10],
 [u'FRP', u'N', 32, 10],
 [u'TYPE', u'N', 11, 0]]

In [26]:
# Calling the shapeRecords() method will return the geometry and attributes for all shapes as a list of ShapeRecord objects.
# Each ShapeRecord instance has a "shape" and "record" attribute. 
# The shape attribute is a Shape object. The record attribute is a list-like object containing field values.

shapeRecs = sf.shapeRecords()

In [28]:
# Convert shapes to a geojson dictionary
sr = shapeRecs.__geo_interface__['type']

In [38]:
sr

'FeatureCollection'

### Playing with CSV files

In [6]:
df = pd.read_csv('../data/fire_nrt_V1_94075.csv') #oct - dec 2019

In [7]:
df.head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,40.39033,-79.85009,295.7,0.55,0.68,2019-10-01,612,N,VIIRS,n,1.0NRT,284.3,0.5,N
1,40.39689,-79.85633,300.1,0.55,0.68,2019-10-01,612,N,VIIRS,n,1.0NRT,286.9,0.5,N
2,40.39210,-79.85754,305.8,0.55,0.68,2019-10-01,612,N,VIIRS,n,1.0NRT,285.5,2.1,N
3,40.39051,-79.85697,300.0,0.55,0.68,2019-10-01,612,N,VIIRS,n,1.0NRT,284.1,0.5,N
4,41.45269,-81.67487,309.6,0.69,0.74,2019-10-01,612,N,VIIRS,n,1.0NRT,288.4,1.7,N

In [8]:
df2 = pd.read_csv('../data/fire_archive_V1_94075.csv') #jan 2017 - sept 2019

In [9]:
df2.head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,type
0,42.29202,-83.16927,311.1,0.68,0.74,2017-01-01,619,N,VIIRS,n,1,269.4,4.8,2
1,42.29891,-83.15191,305.3,0.68,0.74,2017-01-01,619,N,VIIRS,n,1,267.9,2.6,2
2,42.29894,-83.16044,306.0,0.68,0.74,2017-01-01,619,N,VIIRS,n,1,270.7,2.6,2
3,42.25719,-83.13547,302.8,0.68,0.74,2017-01-01,619,N,VIIRS,n,1,268.4,2.0,2
4,42.29770,-83.17207,298.6,0.68,0.74,2017-01-01,619,N,VIIRS,n,1,268.0,4.1,2